.button{
    min-width: 100px;
    width: auto;
    height: 40px;
    letter-spacing: 0.5px;
    line-height: 50px;
    padding: 0 35px 0 35px;
    font-size: 15px;
    border-radius: 1rem;
    outline: none;
    background-color: black;
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    border: none;
    margin:6px auto;
    z-index: 99;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    &:hover {
      background-color: white;
      color: black;
      border: 2px solid black;
    }


    &.button-facebook{
      background-color: #4267B2;
      margin:0;

      &:hover{
        background-color: white;
        color: #4267B2;
        border: 2px solid #4267B2;
      }
    }

    &.button-google{
      background: #DB4437;
      margin:0;

      &:hover{
        background-color: white;
        color: #DB4437;
        border: 2px solid #DB4437;
      }
    }




}