.songslist{
    width:100%;
    height:100%;
    display: flex;


    .songslist__col{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:50%;
        height: 100%;
  
            .songslist__legend{
                width: 100%;
                height: 20%;
            }
            .songslist__search{
                width: 100%;
                height: 30%;
            }
            .songslist__directory{
                width: 50vw;
                height: 50%;
            }

    }


    .displaysearch{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100%;

        }
    

}