@mixin for-s-tablet-down {
  @media (max-width: 720px) {
    @content;
  }
}

@mixin for-l-desktop-up {
  @media (min-width: 1930px) {
    @content;
  }
}
@mixin for-m-desktop-down {
  @media (max-width: 1084px) {
    @content;
  }
}

@mixin for-l-smartphone-down-portrait {
  @media (max-width: 600px) and (orientation: portrait) {
    @content;
  }
}
@mixin for-m-tablet-down {
  @media (max-width: 920px) {
    @content;
  }
}
.songs-list {
  flex-grow: 1;
  position: relative;
  overflow: hidden;

 

  h2 {
    
    font-weight: bold;
    font-size: 4rem;
    max-width: 90vw;
    text-align: center;
    margin: 2rem auto;
    line-height: 70px;
    @include for-l-desktop-up {
      max-width: 1600px;
      font-size: 7rem;
    }
    @include for-m-desktop-down {
      margin: 3rem auto;
    }

  }
  p, ol {
    margin: 0;
  }

  

  .songs-list__div-columns {
    z-index: 1;
    display: flex;
    @include for-m-desktop-down{
      flex-direction: column;
    }
    .songs-list__div-column-1 {
      width: 50%;
      padding-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @include for-m-desktop-down{
        width: 100%;
        padding: 0 2rem;
      }
    }
    .songs-list__div-column-2 {
      width: 50%;
      @include for-m-desktop-down{
        width: 100%;
       padding-top: 2rem;
      }
      .song-list__div-songs-container {
        height: 69vh;
        overflow-y: scroll;
        padding-bottom: 1rem;
        border: none;
      }
    }
  }
}
