@mixin for-phone-only-landscape {
    @media (max-width: 900px) and (orientation: landscape) { @content; }
  }
  @mixin for-phone-only {
    @media (max-width: 900px) { @content; }
  }
  @mixin for-phone-only-min-height {
    @media (max-height: 600px) and (max-width: 330px) and (orientation: portrait) { @content; }
  }

@mixin color-section{
    width: 100%;
    height: 20%;
    background-color: #27D8A9;
    background-size: 100% 100%;
    position: absolute;
    transition: transform 0.5 s ease-in-out;
    z-index: 201;
    &.open{
        transform: translateY(0);
    }

    @include for-phone-only-min-height{
        height: 12%;
    }

    @include for-phone-only-landscape{
        display: none;
    }
    img{
        
        height: 100%;
        width: 100%;
    }
}

@mixin option-heading{
    width: auto;
    margin: 16px auto 16px auto;
    @include for-phone-only-landscape{
        font-size: 1.1rem;
    }
}
.side-drawer__aside{

    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    width: 70%;
    max-width: 450px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    background: #EFEFEF;

    &.open{
        transform: translateX(0);
        box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    }

    &:before, &:after{
        content: "";
        position: absolute;
        width: 100%;
        height: 60px;
        background-color: lightblue;
    }
    &:before{    
        top: 0;
        left:0;
        clip-path: polygon(0 0, 0 100%, 100% 0);
    }
    &:after{
        bottom: 0;
        right:0;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);

    }

    .side-drawer__div-options{
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        a.side-drawer__link{

            font-size: 2rem;
            font-weight: 200;
            color: black;
            &:hover{
                color: lightblue;
            }
            &:focus{
                outline: none;
            }
            
        }
    
       
    }
}
