@mixin for-l-desktop-up {
    @media (min-width: 1930px) {
      @content;
    }
  }
  @mixin for-m-desktop-down {
    @media (max-width: 1084px) {
      @content;
    }
  }

  @mixin for-l-smartphone-down-portrait {
    @media (max-width: 600px) and (orientation: portrait) {
      @content;
    }
  }

  @mixin for-s-tablet-down {
    @media (max-width: 720px) {
      @content;
    }
  }

.profile-page{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 60px);
    width: 100%;
    overflow: hidden;
    position: relative;
    @include for-s-tablet-down{
        min-height: 100vh;
        max-height: none;
    }


    &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        width: 30vw;
        height: 30vw;
        @include for-s-tablet-down{
          width: 70vw;
          height: 70vw;
        }
      }
      &:before {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translate(50%, 50%);
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        width: 40vw;
        height: 40vw;
        z-index:-1;
        @include for-s-tablet-down{
          width: 80vw;
          height: 80vw;
        }
      }
    .profile-page__heading{
    
    background-position: center;
    background-size: cover;
    display: flex;
    min-height: 40vh;
    justify-content: center;
    align-items: flex-start;

    @include for-l-smartphone-down-portrait{
        min-height:60vh;
    }
        h2 {
    
            font-weight: bold;
            font-size: 4rem;
            max-width: 90vw;
            text-align: center;
            margin: 0;
            margin-top: 5rem;
            line-height: 70px;
            @include for-l-desktop-up {
              max-width: 1600px;
              font-size: 7rem;
            }

        
          }
    }
    
    
    .profile-page__div-columns{

        display: flex;
        justify-content: space-around;
        align-items: center;
        @include for-s-tablet-down{
            flex-direction: column;
        }
        .profile-page__div-column-1, .profile-page__div-column-2{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            @include for-s-tablet-down{
                width: 100%;
            }
        }
        .profile-page__div-column-2{
           h3{
            font-size: 3rem;
            margin: 1rem;
            text-align: center;
           }
           h2{
               font-size: 2.5rem;
               background-color: #d794c1;
               padding: 1rem;
           }
        }
    }
}