@mixin for-l-smartphone-down-portrait{
  @media (max-width: 600px) and (orientation: portrait) {
    @content;
  }
}

.error-boundary{
  width: 100%;
  height: 100vh;
  padding: 5rem;
  display: flex;
  justify-content: center;

  align-items: center;
@include for-l-smartphone-down-portrait{
  flex-direction: column;
}
  .error-boundary__img{
    width: 40vw;
    @include for-l-smartphone-down-portrait{
      order:-1;
    }
  }
}