$border: 1px solid lightgray;
@mixin for-s-tablet-down {
  @media (max-width: 720px) {
    @content;
  }
}

.similarsongslist {
  width: 50%;
  display: flex;
  flex-direction: column;
  @include for-s-tablet-down{
    width: 100%;
  }
  .similarsongslist__columns {
    display: flex;
    flex-direction: row;
    

    .similarsongslist__column-left {
      width: calc( 85% - 5px);
      h5 {
        margin: 0 0 1rem 1rem;
      }
    }
    .similarsongslist__column-right {
      width: calc( 15% + 5px);

      h5 {
        margin: 0 1rem 1rem 0 ;
      }
    }
  }

  .similarsongslist__scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 48vh;
    border-bottom: $border;
    border-top: $border;
  }

  h2{
      text-align: center;
      margin: 0 0 1rem 0 ;
  }
}
