@mixin for-tablet-landscape-down {
  @media (max-width: 900px) { @content; }
}
@mixin flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  flex-wrap: wrap;
}
.directory{
  @include flex;
  flex-direction: column;

}

.directory-row{
  @include flex;
  flex-direction: row;
}