@mixin for-tablet-landscape-down {
  @media (max-width: 900px) { @content; }
}

.directory{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  will-change: auto;
  scroll-behavior: smooth;
  overflow: hidden;
  background-color: #f8f9fa;

}