@mixin for-tablet-landscape-down {
  @media (max-width: 900px) { @content; }
}
@mixin for-m-tablet-landscape-down {
  @media (max-width: 720px) { @content; }
}



@mixin for-l-phone-portrait {
  @media (max-width: 660px) {
    @content;
  }
}
@mixin flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
}
.directory{
  @include flex;
  flex-direction: column;

}

.directory-row{
  @include flex;
  background: transparent;
  flex-direction: row;
  @include for-l-phone-portrait{
    flex-direction: column;
    margin-top: 1rem;
  }
}
.directory-albums{
  @include flex;
  max-width: 90vw;
  // padding-bottom: 10rem;
  
  justify-content: space-around;
  @include for-l-phone-portrait{
    flex-direction: column;
    margin-top: 1rem;
  }
  @include for-m-tablet-landscape-down{
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 50vh;
    
  }

}


