@mixin for-m-tablet-landscape-down {
    @media (max-width: 720px) { @content; }
  }

.searchbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
flex-direction: column;
    height: 100%;
    width:100%;

    .searchbar__searchForms{
        width: 100%;
        display:flex;
        justify-content: space-around;
        align-items: center;
        @include for-m-tablet-landscape-down{
            flex-direction: column;
        }
        .searchbar__textInput{
            height: 33%;
            width:25%;
            @include for-m-tablet-landscape-down{
                width: 70%;
            }
        }
        .searchbar__text{
            height: 33%;
            width: 25%;
            text-align: center;
            @include for-m-tablet-landscape-down{
                width: 70%;
            }
        }
        .searchbar__select{
            height: 33%;
            width:25%;
            display: flex;
            justify-content: flex-start;
            @include for-m-tablet-landscape-down{
                width: 70%;
            }
        }
    }

    .searchbar__buttons{
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;

        .searchbar__button{
            // margin: 2rem 0;
        }
    }

}
