@mixin for-m-desktop-down{
  @media (max-width: 1200px) { @content; }
}
@mixin for-l-tablet-down{
  @media (max-width: 1024px) { @content; }
}


.header{
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  z-index: 99;
  .header__link{
    font-size: 1.5rem;
    padding: 2.5rem;
    color: inherit;

    &:hover{
      color: #E4DEDE;
    }
  }
  .header__div--left{
    margin-left: 1rem;
    display: flex;
    transition: margin 1000ms ease-in-out;
    
   

    &.header--margin{
      margin-left: 4rem;
      @include for-m-desktop-down{
        margin-left: 1rem;
      }
    }

    .header__container-logo{
      padding-top: 2rem;
      svg{
        width: 80px;
        height: 60px;
      }
    }
    
  }
  .header__div--left, .header__div--right{
    @include for-l-tablet-down{
      display: none;
    }
  }
  .header--mobile{
    display: none;
    width: 100%;
    height:40px;
    .header__container-logo{
      position: absolute;
      top:12px;
      right: 1rem;
      svg{
        width: 120px;
        height: 100px;
      }
    }
    @include for-l-tablet-down{
      display: flex;
      justify-content: space-between;
    }
  }
  .header__container-logo{
    cursor: pointer;
  }
}