@mixin for-s-tablet-down {
  @media (max-width: 720px) {
    @content;
  }
}


.albuminfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  max-height: 80%;
@include for-s-tablet-down{
  width: 100%;
}
  h2,
  h4,
  p {
    margin: 0.5rem 0 0.5rem 0;
  }

  .albuminfo__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4,
    p {
      margin: 0.5rem 0.5rem 0.5rem 0;
    }

    .albuminfo__option {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .albuminfo__option-last {
      display: flex;
      flex-direction: column;

      .albuminfo__link{
          margin-top: 1rem;
          color:black;
      }

      .albuminfo__scroll {
        height: 25vh;
        overflow-y: scroll;
        padding: 0.5rem 1rem 0.5rem 0;
       

        p {
          font-family: "Raleway", sans-serif;
          font-size: 1.2rem;
          text-align: justify;
          
          margin: 0;
        }
      }
    }
  }
}
