@mixin for-m-tablet-down {
  @media (max-width: 920px) {
    @content;
  }
}
@mixin for-l-smartphone-down {
  @media (max-width: 600px)  {
    @content;
  }
}

@mixin for-m-smartphone-down {
  @media (max-width: 400px)  {
    @content;
  }
}

@mixin for-l-smartphone-down-landscape {
  @media (max-width: 820px) and (max-height: 600px) and (orientation: landscape) {
    @content;
  }
}
@mixin footer-mobile{
  position: relative;
    background-color: #2B4068;
    box-shadow: 0px -2px 3px rgba(0,0,0,0.5);
}
.footer{
  height: 60px;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: transparent;
  justify-content: flex-end;

  @include for-m-tablet-down{
    justify-content: center;
  }
  @include for-m-tablet-down{
    @include footer-mobile;
  }
  @include for-l-smartphone-down-landscape{
    @include footer-mobile;
  }
  .footer__div{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    @include for-m-tablet-down{
      justify-content: space-around;

    }
    a{
      display: flex;
      align-items: center;
      img{
        width:auto;
        height: 50px;
        margin-right: 2rem;
        @include for-m-tablet-down{
          margin-right:0;

        }
        @include for-m-smartphone-down{
          height: 40px;
        }
      }
    }
    
  }

}