
@mixin for-l-desktop-up {
  @media (min-width: 1930px) {
    @content;
  }
}
@mixin for-m-desktop-down{
  @media(max-width: 1084px){
    @content;
  }
}

@mixin for-l-smartphone-down-portrait {
    @media (max-width: 600px) and (orientation: portrait) {
      @content;
    }
  }
  @mixin for-m-tablet-down {
    @media (max-width: 920px) {
      @content;
    }
  }
@mixin for-s-tablet-down{
  @media (max-width: 647px){
    @content;
  }
}


.album-preview{
    width:100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;

    @include for-m-desktop-down{
      padding-bottom: 60px;
    }

        h2{
            margin: 0;
            font-weight: bold;
            font-size: 4rem;
            max-width: 90vw;
            text-align: center;
            margin-top: 4rem;

            line-height: 90px;
            @include for-l-desktop-up{
              max-width: 1600px;
              font-size: 7rem;
              line-height: 120px;
            }
            @include for-m-desktop-down{
              margin-bottom: 3rem;
            }
            @include for-m-tablet-down{
        
              line-height: 60px;
            }
            @include for-l-smartphone-down-portrait{
              font-size: 2.7rem;
            }

          @include for-l-smartphone-down-portrait{
            &:before, &:after{
              display: none;
            }
          }
    }

}