@mixin shrinkLabel {
    top: -14px;
    font-size: 12px;
  }

.forminput{
    position: relative;
    text-align: left;
    width: 70%;
    margin: 1rem 0;
    
    color: white;
    
    &::after,
    &::before{
        content: "";
        position: absolute;
        bottom: 0;
        left:0;
        right: 0;
        height: 2px;
        background: rgba(0,0,0,0.1)
    }

    &.focused{
        &::before{
            right: 0;
        }

        &:not(.active) label{
        
            @include shrinkLabel();
        }
    }

    &.active{
        label{
            @include shrinkLabel();
        }
    }

    &::before{
        background-image: linear-gradient(to right,blue 0%,purple 99%, purple 100%);
        right: 100%;
        z-index: 2; 

        transition: right 300ms ease-in-out;
    }

    input{
        width:100%;
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.2rem;
        line-height: 1.9;


        
    }

    label{
        color: inherit;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
    }
}