@mixin for-l-tablet-down {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-l-smartphone-down-portrait {
  @media (max-width: 600px) and (orientation: portrait) {
    @content;
  }
}

.sign-up-page{
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @include  for-l-tablet-down{
  
  }
  @include for-l-tablet-down{
    padding: 20px 0 60px 0;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .sign-up-page__div{
    max-width: 40vw;
    @include for-l-tablet-down{
      max-width: 90vw;
    }
    h1{
      font-size: 7vw;
      @include for-l-tablet-down{
        text-align: center;
        font-size: 10vw;
      }
      @include for-l-smartphone-down-portrait{
        font-size: 4rem;
      }
    }
    .signin__span-color{
      color:#f081cb;
  }
}
  
}