//media queries

@mixin for-l-phone-portrait {
  @media (max-width: 660px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-footer{
    @media (max-width: 900px){
        @content;
    }
}

@mixin for-tablet-portrait-down {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin for-l-desktop-down {
  @media (max-width: 1440px) {
    @content;
  }
}


@keyframes showup {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    margin-left: -800px;
  }
  20% {
    margin-left: -800px;
  }
  35% {
    margin-left: 0px;
  }
  100% {
    margin-left: 0px;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    width: 0px;
  }
  20% {
    opacity: 1;
    width: 0px;
  }
  30% {
    width: 850px;
  }
  100% {
    opacity: 1;
    width: 850px;
  }
}

@include for-l-desktop-down{

    @keyframes reveal {
        0% {
          opacity: 0;
          width: 0px;
        }
        20% {
          opacity: 1;
          width: 0px;
        }
        30% {
          width: 570px;
        }
        100% {
          opacity: 1;
          width: 570px;
        }
      }
    
}





.homepage__main {
  height: 100vh;
  width: 100%;
  padding-top: 56px;
  text-align: center;
  overflow-y: hidden;
  background: linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
  font-family: "Roboto";
  color: #555;

    @include for-tablet-portrait-down{
        height: 100%;
        min-height: 100vh;

    }
    @include for-l-phone-portrait{
        height: auto;
        
    }


  h1,
  h2 {
    font-size: 6rem;
    display: inline;
    font-weight: 500;
    @include for-l-desktop-down{
        font-size: 4rem;
    }
    @include for-l-phone-portrait{
        font-size: 2.5rem;
    }
  }

  div {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    @include for-tablet-portrait-down{
        display: block;
    }
  }
  .homepage__hero {
    height: 50%;
    padding-top: 20vh;
    @include for-tablet-portrait-down{
        padding-top: 5vh;
        height: 40vh;
    }
    @include for-l-phone-portrait{
        height: 20%;
        padding-top: 5vh;
    }

    .homepage__div--greeting {
      animation: showup 10s forwards; 
      @include for-tablet-portrait-down{
        opacity: 1;
        animation: none;
    }
    }
    .homepage__div--content {
      animation: reveal 10s forwards;
      @include for-tablet-portrait-down{
        width: auto;
        animation: none;
    }

      span {
        margin-left: -800px;
        animation: slidein 10s forwards;
        @include for-tablet-portrait-down{
            margin-left: 0;
            animation: none;
        }
      }
    }

    .homepage__span {

      h3 {
          font-size: 2rem;
          font-weight: 300;
          font-style: italic;
          margin: 1rem 0;
        opacity: 0;
        animation: showup 20s 4s forwards;
        @include for-tablet-portrait-down{
            animation: none;
            opacity: 1;
        }
        @include for-l-phone-portrait{
            display: none;
        }

      }
    }
  }


  .homepage__content{
    height: 50%;
    padding-top: 5vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    @include for-tablet-portrait-down{
        padding-top: 0;
        height: 60vh;
    }
    @include for-l-phone-portrait{
      padding-top: 3rem;
        height: 80%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
  }
}
