@mixin for-s-tablet-down {
    @media (max-width: 720px) {
      @content;
    }
  }


.about-figure{
    width: 25vw;
    
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: flex;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
    @include for-s-tablet-down{
        width: 50vw;
    }
    &.about-figure-animation{
        opacity: 1;
    }

    &.about-figure-1.about-figure-animation{
        transition-delay: 1000ms;
        
    }
    &.about-figure-2.about-figure-animation{
        transition-delay: 2000ms;
    }
    &.about-figure-3.about-figure-animation{
        transition-delay: 3000ms;
    }
    &.about-figure-4.about-figure-animation, &.about-figure-5.about-figure-animation{
        width: 30vw;
        height: auto;
        background-color: rgba(255,255, 255, 0.1);
        border-radius: 2rem;
        padding-top: 1rem;
        cursor: pointer;
        @include for-s-tablet-down{
            margin-top: 2rem;
            width: 50vw;
        }
        &:hover{
            background-color: rgba(0,0,0,0.2);
        }
        img{
            width: 15vw;
            margin-bottom: 0;
            @include for-s-tablet-down{
                width: 30vw;
            }
        }
    }

    img{
        width: 15vw;
        margin-bottom: 2rem;
        @include for-s-tablet-down{
            width: 35vw;
        }
    }
    h3{
        font-size: 1.6rem;
        text-align: center;
        padding: 1rem;
        margin: 0;
        font-weight: 600;
    }
}