@mixin center-align {
    justify-content: center;
    align-items: center;
}

$directory-border: 1px solid rgba(0, 0,0, 0.4);

@mixin grid {
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(170px,1fr));
    padding: 1rem;
    grid-gap: 2rem;
    border-top: $directory-border;
    border-bottom: $directory-border;
    display: grid;
    overflow-y: scroll;
}



.directorysongs{
    padding: 1rem 0 1rem 0;
    @include center-align;
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .directorysongs-flex{
        @include center-align;
        display: flex;
        width: inherit;
    }
    .directorysongs-grid{
        @include grid;
        @include center-align;
    }
    .directorysongs-grid-songspage{
        @include grid;  
        
    }
    .directorysongs-title{
        height: 10%;
        padding: 0 0 2rem 0 ;
        letter-spacing: 2px;
    }
    
    .directorysongs-hidden{
        display: none;
    }
}
