@mixin center-align {
    justify-content: center;
    align-items: center;
}

$directory-border: 1px solid rgba(0, 0,0, 0.4);

@mixin grid {
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
    grid-template-rows: repeat(auto-fill, minmax(170px,1fr));
    padding: 2rem 1rem 2rem 1rem;
    grid-gap: 2rem;
    display: grid;
    overflow-y: scroll;
}



.directorysongs{

    @include center-align;
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;

    .directorysongs-flex{
        @include center-align;
        display: flex;
        width: inherit;
    }
    .directorysongs-grid{
        @include grid;
        @include center-align;
    }

}
