.slider{
    width: 100%;
    height:100%;
    position: relative;


    .slider__buttons{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        z-index: 99;


        .slider__button{
            width: 90px;
            height: 90px;
            cursor: pointer;    
            background:transparent;
            font-size: 2rem;
            border-radius: 50%;
            outline: none;
            color: black;
            text-transform: uppercase;
            font-weight: bolder;
            border: none;
            
         
            
            &[disabled]{
                visibility: hidden;
            }
            
            &:hover {
    
              color: black;
            }
            
            &.slider__button-prev{
                margin-left: 3rem;
            }
            &.slider__button-nxt{
                margin-right: 3rem;
            }
    }

        }

    .slider__container-out{
        width:100%;
        height:100%;
        display: flex;
        padding-top: 30px;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 30%;
            height: 84%;
            background: linear-gradient(to right, #f8f9fa 15%, rgba(255, 255, 255, 0) 100%);
            position: absolute;
            top: 7%;
            left: 0;
            z-index: 2;
        }
        &:after {
            left: auto;
            right: 0;
            background: linear-gradient(to left, #f8f9fa 15%, rgba(255, 255, 255, 0) 100%);
        }
    }
    .slider__container{
        width: 500px;
        // max-width: 400px;
        height: 90%;
        display: flex;
        position: relative;
        margin: 0 auto;

        
    
        .slider-wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
       
        @for $i from 0 through 9{
            &.slider-active-#{$i} #card-#{$i}{
                opacity: 1;
                transform: scale(1);
                box-shadow: 0 0 20px gray;
            }
        }

    }

}


